In [45]:
    import pandas as pd
    
    def extract_tables(url):
        # Read HTML tables into a list of DataFrame objects.
        tables = pd.read_html(url)
    
        for i, table in enumerate(tables):
            print(f"Table {i}")
            print(table)
            print("\n" * 2)
    def extract_table(url, index):
        # lee la tabla selecionada
        tables = pd.read_html(url)
        table= tables[index]
        return table
    
    def suma_parametros (ruta, numero_reportes,param):
        for i in range (1,numero_reportes+1):
            print(ruta+f'/report-{i}.html')
            print("\n")
            table = extract_table((ruta+f'/report-{i}.html'),1) 
            print(table)
            resultado = getattr(table, param)
            print(resultado+50)
            
    def concatenar_tablas (ruta, numero_reportes):
        primera_tabla = extract_table((ruta+f'/report-1.html'),1) 
        tabla_concatenada = primera_tabla.iloc[0:0]  # Inicializar tabla_concatenada con las mismas columnas que primera_tabla
        for i in range(1, numero_reportes+1):
            tabla = extract_table((ruta+f'/report-{i}.html'),1) 
            tabla['round'] = i
            tabla_concatenada = pd.concat([tabla_concatenada, tabla], ignore_index=True)
        return tabla_concatenada
            
    suma_parametros('/home/alonso/Descargas',1,'Succ')
    print('\n')
    print(concatenar_tablas('/home/alonso/Descargas/reportes',10))
    suma= concatenar_tablas('/home/alonso/Descargas/reportes',10).sum()
    print (suma)
    # print("\n")
    # print(table.Succ + 10)

/home/alonso/Descargas/report-1.html


              Name  Succ  Fail  Send Rate (TPS)  Max Latency (s)  \
0  añadir_paciente   100     0             10.1             2.61

   Min Latency (s)  Avg Latency (s)  Throughput (TPS)
0              0.5             1.57               9.1
0    150
Name: Succ, dtype: int64


              Name  Succ  Fail  Send Rate (TPS)  Max Latency (s)  \
0  añadir_paciente   291   209             25.1             2.46
1  añadir_paciente   301   199             25.1             3.17
2  añadir_paciente   500     0             25.1             2.47
3  añadir_paciente   500     0             25.1             2.61
4  añadir_paciente   500     0             25.1             2.50
5  añadir_paciente   500     0             25.1             2.57
6  añadir_paciente   141   359             25.1             2.43
7  añadir_paciente   301   199             25.1             2.70
8  añadir_paciente   500     0             25.1             2.66
9  añadir_paciente   500     0             25.1             2.50

   Min Latency (s)  Avg Latency (s)  Throughput (TPS)  round
0             0.33             1.42               4.1    1.0
1             0.46             1.50              23.4    2.0
2             0.31             1.41              23.4    3.0
3             0.37             1.50              23.4    4.0
4             0.30             1.40              23.4    5.0
5             0.39             1.47              23.4    6.0
6             0.31             1.34               4.3    7.0
7             0.30             1.46              23.4    8.0
8             0.31             1.47              23.4    9.0
9             0.31             1.46              23.4   10.0
4034